<div class="blackout-background">
    <div class="alert position-absolute bg-light start-50 top-50 translate-middle shadow-lg text-end" role="alertdialog">
        <button type="button" @onclick="Cancel" class="btn-close align-self-end" aria-label="Close alert"></button>
        <article class="text-start">
            @ChildContent
        </article>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void Cancel()
    {
        OnCancel.InvokeAsync();
    }
}
