@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>BOP3000</PageTitle>

@if (isAuthenticated)
{
    <div class="page-container">
        <NavMenu />

        <main class="content">
            @Body
        </main>
    </div>
}
else
{
    <div class="page-container">
        <NavMenu />

        <main class="content">
            @Body
        </main>
    </div>
}

@code {
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        string currentUrl = NavigationManager.Uri;

        if (currentUrl == NavigationManager.BaseUri)
        {
            NavigationManager.NavigateTo("/login", forceLoad: true);
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
        AuthenticationStateProvider.AuthenticationStateChanged += async (task) =>
        {
            var authState = await task;
            isAuthenticated = authState.User.Identity.IsAuthenticated;
            StateHasChanged();
        };
    }
}