<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-4 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
            <span class="fs-4">Element Logic</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="productpage" class="nav-link">Products</a></li>
            <li class="nav-item"><a href="inboundpage" class="nav-link">Inbound</a></li>
            <li class="nav-item"><a href="stockpage" class="nav-link">Stock Page</a></li>
            <li class="nav-item"><a href="orderpage" class="nav-link">OrderPage</a></li>
        </ul>
    </header>
</div>

@code {
    
}
