/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    img {
        width: 133px;
        height: 59px;
    }

    .navbar-toggler {
        width: 42px !important;
        height: 30px !important;
        padding: 0px !important;
    }

    .navbar-toggler-icon {
        width: 20px !important;
        height: 15px !important;
        padding: 10px !important;
    }
}

.active-class {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.image:hover {
    opacity: 0.3;
}


.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
