<head>
    <link href="~/css/styling/NavMenu.css" rel="stylesheet" />
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
    <div class="container-fluid p-0">
        <img width="190" height="85" class="navbar-brand p-0" src="\images\logos\Element Logic logo white on red hires.jpg" alt="header_logo">
        <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-4" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="productpage">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="inboundtpage">Inbound</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="stockpage">Stock Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="orderpage">Order Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    
}
