.selected {
    /*box-shadow: 5px 5px 5px 5px rgba(20, 200, 20, 0.8);*/
    border: 1px solid #B9132F !important;
}

img {
    aspect-ratio: 1/1;
    object-fit: scale-down;
}

section {
    background-color: transparent !important;
    border-width: 0px !important;
}

.section:hover {
    border: 1px solid black !important;
    box-shadow: 0 0 5px black !important;
}
