@using Data
@using WebStoreElementLogic.Entities;

<div class="d-flex flex-column m-4 p-2 shadow rounded" @onclick="Select">
    <img src="images/default.jpg" style="width: 20vmin; height: 20vmin;" />
    <h4>@Info.Name</h4>
    <span>Qty</span>
</div>

@code {

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Product Info { get; set; }

    [Parameter]
    public EventCallback<int> OnSelected { get; set; }

    private void Select() 
    {
        OnSelected.InvokeAsync(Index);
    }

}