@using WebStoreElementLogic.Data;
@using WebStoreElementLogic.Entities;


<section class='d-flex flex-row my-1 bg-light mx-4 rounded border @(Selected? "border-success selected" : "border-light")' style="background-color: #34495e;" @onclick="SelectProduct">
    <img src="@Info.URL" style="width: 10vmin; height: 10vmin;" />
    <div class="ms-4 mt-lg-3 mt-0">
        <h3 class="text-truncate" style="max-width: 30vw">@Info.Name</h3>
        <span class="d-md-inline-block d-none text-truncate" style="max-width: 30vw;">@Info.Descr</span>
    </div>
</section>

@code {

    [Parameter]
    public Product Info { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public bool Selected { get; set; } = false;

    [Parameter]
    public EventCallback<int> OnSelected { get; set; }

    private void SelectProduct()
    {
        Selected = true;
        OnSelected.InvokeAsync(Index);
    }
}
