@page "/home"
@attribute [Authorize]
@using System.Timers
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Net.Http.Json
@inject HttpClient Http

<title>Home</title>

<main>
    <img src="/images/logos/Element logic logo black hires.JPG" class="d-block center" alt="Third slide">
</main>

@code {
    private string userName;
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        userName = user.Identity.Name;
        isAdmin = user.IsInRole("Admin");

        // Get the updated AuthenticationState again to access the latest claims
        state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = state.User;

        // Access the updated claims
        var name = user.FindFirst(ClaimTypes.Name)?.Value;
        var roles = user.FindAll(ClaimTypes.Role).Select(c => c.Value).ToArray();
    }

}
