@page "/home"
@using System.Timers
<title>Home</title>
<style>
    main {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
</style>

<main>
    <img src="/images/logos/Element logic logo black hires.JPG" class="d-block w-100 center" alt="Third slide">
</main>




@code {
    private int currentSlide = 0;
    private Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer(5000);
        timer.Elapsed += (sender, args) =>
        {
            InvokeAsync(NextSlide);
        };
        timer.AutoReset = true;
        timer.Enabled = true;
    }

    private void NextSlide()
    {
        currentSlide++;
        if (currentSlide > 2)
        {
            currentSlide = 0;
        }
        StateHasChanged();
    }

    private void PrevSlide()
    {
        currentSlide--;
        if (currentSlide < 0)
        {
            currentSlide = 2;
        }
        StateHasChanged();
    }
}
