@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization
@using WebStoreElementLogic.Interfaces
@using WebStoreElementLogic.Data
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISimpleCookieManager SimpleCookieManager


<div class="d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
    <h3 class="mb-4">Logging out...</h3>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await customAuthStateProvider.LogoutAsync();
        await Task.Delay(2000);
        NavigationManager.NavigateTo("/login", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        // If we want to remove the 2000ms delay, we might have to move other logout logic into this function as well
        await SimpleCookieManager.DeleteAuthCookie();
    }

}